<div class="h-10 flex justify-between items-center pr-3 relative">

    <div class="flex w-full justify-center items-center">
        {{!-- Search --}}
        <div class="h-1/2">
            <b>WELCOME BACK</b>
        </div>
    </div>
</div>
