<h1>Add an Employee</h1>
<form method="post" action="/admin/employee_store">
  <div class="form-group">          
    <label for="employee_name">Name</label>
    <input type="input" class="form-control" id="employee_name" name="employee_name" placeholder="Name">
  </div>
    <div class="form-group">
    <label for="employee_phone">Phone</label>
    <input type="input" class="form-control" id="employee_phone" name="employee_phone" placeholder="Phone">
  </div>
  <div class="form-group">
    <label for="employee_email">Email</label>
    <input type="input" class="form-control" id="employee_email" name="employee_email" placeholder="Email">
  </div>
   <div class="form-group">
    <label for="hire_date">Hire Date</label>
    <input type="input" class="form-control" id="hire_date" name="hire_date" placeholder="Hire date">
  </div>
   <div class="form-group">
    <label for="account_status">Status</label>
    <input type="input" class="form-control" id="account_status" name="account_status" placeholder="Status">
  </div>
   <div class="form-group">
    <label for="password">Password</label>
    <input type="input" class="form-control" id="password" name="password" placeholder="password">
  </div>
  <div class="form-group">
    <label for="profile_picture">Avatar</label>
    <input type="input" class="form-control" id="profile_picture" name="profile_picture" placeholder="Avatar">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>